

.settings {
  .name {
    span {
      @apply mx-2
    }
  }
  div {
    @apply items-center

  }
}

.create {
  span {
    @apply mx-1
  }
}

.home {
  .ant-menu-item-selected {
    font-weight: bold !important;
    font-size: 18px;
    span {
      transition: all 0.2s;
    }
  }
}



.header {
  -webkit-app-region: drag;
  background-color: rgb(147 197 253);
}


@media (max-width: 1024px) {
  .lg-none {
      display: none;
  }
}