.recommand {
  .title {
    @apply flex text-xl font-bold mb-2;
    span{
      @apply flex items-center;
    }
  }
  .playlist-name {
    @apply text-base mt-1 text-ellipsis overflow-hidden line-clamp-2 text-white hover:text-blue-400 duration-200 transition-colors;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  .recommand-personalized {
    @apply relative;
    img {
      @apply w-full rounded-lg;
    }
    .icon {
      @apply absolute top-0 left-0 translate-x-7 translate-y-2 w-7 h-7 rounded-2xl text-2xl text-blue-400;
      background-color: rgba(222, 230, 229, 0.678);
    }
  }
  .recommand-mv {
    @apply relative;
    img {
      @apply w-full rounded-lg;
    }
    .play-count {
      @apply absolute top-1 text-white text-sm flex items-center;
      right: 10%;
    }
  }
}
