.player {
  
  height: 7vh;
  .name {
    @apply text-lg flex items-center relative;
    span {
      @apply mr-1 inline-block truncate break-all;
    }
    div {
      @apply absolute text-opacity-0;
    }
  }
  div {
    .player-process {
      @apply flex items-center absolute -translate-x-1/2 left-1/2;
    }

    .process {
      @apply h-1 bg-zinc-200 mx-2 rounded-sm relative;
      width: 600px;
    }

    .ctime,
    .atime {
      @apply text-sm text-slate-300;
    }

    .process > span {
      @apply bg-blue-300 absolute transition-width duration-200 h-full;
    }

    #controller {
      @apply flex items-center justify-center;
      div {
        @apply mx-5;
      }
      .play-mode,
      .music-lyric {
        @apply text-xl;
      }
      .last-music,
      .next-music {
        @apply text-2xl;
      }
      .play-control {
        @apply text-3xl;
      }
    }
  }
}

.player > div:nth-child(1) {
  @apply flex w-1/4 h-full items-center;
  img {
    width: 7vh;
    height: 7vh;
    @apply mr-4;
  }
}
.player > div:nth-child(2) {
  @apply h-full w-1/2;
}
.player > div:nth-child(3) {
  @apply w-1/4;
}

.player-others {
  @apply flex justify-end items-center text-xl;
}

#toneQuality {
  @apply rounded-sm border border-blue-400 px-2 font-semibold text-base mx-3;
}

.player-others > span {
  @apply mx-4;
}

.volume-box {
  @apply absolute bg-white h-24 w-full transition-all duration-200 invisible ;
  transform: translateY(9999px);
  padding: 10px 45%;
  box-shadow: #51b8eb 0 0 5px;
  .volume-process-box {
    @apply block w-full h-full rounded-2xl rotate-180 border border-gray-300;
  }
  .volume-process {
    @apply block h-full bg-blue-400 transition-height duration-300;
  }
}

#volume:hover .volume-box {
  transform: translateY(-135px);
  visibility: unset !important;
}

.volume-box:hover {
  visibility: unset !important;
}

#volume {
  @apply relative;
}

#volume > span {
  @apply mx-4;
}
