.ant-layout-footer {
  @apply px-8 py-4;
}

.player {
  height: 7vh;
  .power-info {
    @apply border-t border-b border-t-white border-b-white flex items-center justify-center px-4 flex-1 mr-20;
  }
  div {
    .player-process {
      @apply flex items-center absolute -translate-x-1/2 left-1/2;
    }

    .process {
      @apply h-1 bg-zinc-200 mx-2 rounded-sm relative;
      width: 600px;
    }

    .ctime,
    .atime {
      @apply text-sm text-slate-300;
    }

    .process > span {
      @apply bg-blue-300 absolute transition-width duration-200 h-full;
    }

    #controller {
      @apply flex items-center justify-center;
      div {
        @apply mx-5;
      }
      .play-mode,
      .music-lyric {
        @apply text-xl;
      }
      .last-music,
      .next-music {
        @apply text-2xl;
      }
      .play-control {
        @apply text-3xl;
      }
    }
  }
}

.player > div:nth-child(1) {
  @apply flex w-1/4 h-full items-center;
  img {
    width: 7vh;
    height: 7vh;
    @apply mr-4;
  }
}

#toneQuality {
  @apply rounded-sm border border-blue-400 px-2 font-semibold text-base mx-3;
}
